.movie-box{
   width: 200px;
   height: 350px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: -30px;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
   border-radius: 5px;
}
.movie-box:hover{
    box-shadow: rgb(145, 199, 226) 0px 20px 30px -10px;
    cursor: pointer;
}
.movie-poster{
    width: 100%;
    height: 78%;
    margin-top: 10px;
}
.movie-poster > img{
    width: 90%;
    margin: auto;
    height: 100%;
    border-radius: 5%;
    object-fit: cover;
}
.movie-info{
    width: 88%;
    height:20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.movie-title>p{
    color: black;
    font-weight: 700;
    font-size: 13px;
    line-height: normal;
    text-align: center;
}
.movie-release-date{
    width: 100%;
    text-align: center;
}
.movie-release-date>p{
    color: black;
    font-weight: 500;
    font-size: 13px;
    line-height: normal;
}