.navbar{
    width: 100%;
    height: 80px;
    background-color: #12111133;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: background-color 0.3s ease;
    z-index: 1000;
}
.navbar.scrolled {
    background-color: #333; /* Change this to your desired background color */
}
.navbar-1{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.logo{
    width: 35%;
    height: 100%;;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo>img{
    height: 70%;
    border-radius: 5px;
    cursor: pointer;
}
.menu{
    width: 55%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu > ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menu > ul>li{
    list-style: none;
    font-size: 15px;
    font-weight: 600;
    color: black;
    cursor: pointer;
}
.navbar-2{
 width: 50%;
 height: 100%;

}
.navbar-2>div{
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.navbar-2>div>ul{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    list-style: none;
}
.navbar-2>div>ul>li{
  list-style: none;
  cursor: pointer;
}